# Python
.vscode/launch.json

# Java
out
.classpath
.project
.settings
.metadata
*.log
*.zip
*.class
*.swp
target
classes
build
bin
classes
*~
.vscode

# JavaScript
javascript/rotas-http/node_modules
javascript/rotas-http/local-configuration
javascript/rotas-http/.env

javascript/banco-de-dados/node_modules
javascript/banco-de-dados/local-configuration
javascript/banco-de-dados/.env

web-service/atividade-05/node_modules

web-service/atividade-06/.mvn/wrapper/maven-wrapper.jar
web-service/atividade-06/HELP.md
web-service/atividade-06/target/
web-service/atividade-06/**/src/main/**/target/
!**/src/test/**/target/

### STS ###
web-service/atividade-06/.apt_generated
web-service/atividade-06/.classpath
web-service/atividade-06/.factorypath
web-service/atividade-06/.project
web-service/atividade-06/.settings
web-service/atividade-06/.springBeans
web-service/atividade-06/.sts4-cache

### IntelliJ IDEA ###
web-service/atividade-06/.idea
web-service/atividade-06/*.iws
web-service/atividade-06/*.iml
web-service/atividade-06/*.ipr

### NetBeans ###
web-service/atividade-06/nbproject/private/
web-service/atividade-06/nbbuild/
web-service/atividade-06/dist/
web-service/atividade-06/nbdist/
web-service/atividade-06/.nb-gradle/
web-service/atividade-06/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
web-service/atividade-06/.vscode/



# Logs
logs
*.log
web-service/atividade-09/npm-debug.log*
web-service/atividade-09/yarn-debug.log*
web-service/atividade-09/yarn-error.log*
web-service/atividade-09/lerna-debug.log*

#npm package confi file
web-service/atividade-09/.npmrc

# Diagnostic reports (https://nodejs.org/api/report.html)
web-service/atividade-09/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
web-service/atividade-09/pids
web-service/atividade-09/*.pid
web-service/atividade-09/*.seed
web-service/atividade-09/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
web-service/atividade-09/lib-cov

# Coverage directory used by tools like istanbul
web-service/atividade-09/coverage
web-service/atividade-09/*.lcov

# nyc test coverage
web-service/atividade-09/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
web-service/atividade-09/.grunt

# Bower dependency directory (https://bower.io/)
web-service/atividade-09/bower_components

# node-waf configuration
web-service/atividade-09/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
web-service/atividade-09/build/Release

# Dependency directories
web-service/atividade-09/node_modules/
web-service/atividade-09/jspm_packages/

# TypeScript v1 declaration files
web-service/atividade-09/typings/

# TypeScript cache
web-service/atividade-09/*.tsbuildinfo

# Optional npm cache directory
web-service/atividade-09/.npm

# Optional eslint cache
web-service/atividade-09/.eslintcache

# Microbundle cache
web-service/atividade-09/.rpt2_cache/
web-service/atividade-09/.rts2_cache_cjs/
web-service/atividade-09/.rts2_cache_es/
web-service/atividade-09/.rts2_cache_umd/

# Optional REPL history
web-service/atividade-09/.node_repl_history

# Output of 'npm pack'
web-service/atividade-09/*.tgz

# Yarn Integrity file
web-service/atividade-09/.yarn-integrity

# dotenv environment variables file
web-service/atividade-09/.env
web-service/atividade-09/.env.test

# parcel-bundler cache (https://parceljs.org/)
web-service/atividade-09/.cache

# Next.js build output
web-service/atividade-09/.next

# Nuxt.js build / generate output
web-service/atividade-09/.nuxt
web-service/atividade-09/dist

# Gatsby files
web-service/atividade-09/.cache/
# Comment in the public line in if your project uses Gatsby and *not* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
web-service/atividade-09/.vuepress/dist

# Serverless directories
web-service/atividade-09/.serverless/

# FuseBox cache
web-service/atividade-09/.fusebox/

# DynamoDB Local files
web-service/atividade-09/.dynamodb/

# TernJS port file
web-service/atividade-09/.tern-port

