# Python
.vscode/launch.json

# Java
out
.classpath
.project
.settings
.metadata
*.log
*.zip
*.class
*.swp
target
classes
build
bin
classes
*~
.vscode

# JavaScript
javascript/rotas-http/node_modules
javascript/rotas-http/local-configuration
javascript/rotas-http/.env

javascript/banco-de-dados/node_modules
javascript/banco-de-dados/local-configuration
javascript/banco-de-dados/.env